[2018-07-13 20:28] macumber opened #1 "Implement a JavaScript build system"
Use JavaScript build tool to (NPM, Webpack, etc) generate a single minified JavaScript file which is run through Babel for backwards compatibility

@axelstudios might have input on best tools to use

[2018-07-13 20:30] theo-armour commented on #1
@macumber

Great first issue! more on this soon.

[2018-07-13 20:30] macumber opened #2 "Implement methods for embedded use"
When running the gbxml viewer in another web app need an API that can be used to interact with it.  Suggested API methods:

- setGbXml method for setting the gbXML as a string
- getGbXml method for getting the gbXML as a string (useful if the editor has changed anything)
- Add a new method that can be called to determine if edits have been made.  For FloorspaceJS we have a version number counter t

[2018-07-14 00:03] theo-armour commented on #2
@macumber

I will add string to XML in the next release of the basic viewer

https://developer.mozilla.org/en-US/docs/Web/API/DOMParser

[2018-07-14 18:11] theo-armour commented on #1
@macumber @axelstudios

My first protocol.json  for gbXML Viewer Basic is up:
https://github.com/ladybug-tools/spider-gbxml-tools/blob/master/gbxml-viewer-basic/package.json

The package-lock.json has been generated.

But when I look at my profile, no package has been generated:
https://www.npmjs.com/~ta

I'm sorry for being such a client-side derp here. I hope you can help.

[2018-07-14 19:43] theo-armour commented on #2
@macumber

The fixes mentioned below are in the new develpment branch here:

[gbXMLViewer Basic R5]( https://rawgit.com/ladybug-tools/spider-gbxml-tools/develop/gbxml-viewer-basic/r5/gbxml-viewer-basic.html )

GBX.parseFileXML( text ): now converts a string to XML

New function: GBX.getStringFromXml( xml ) returns an XML file converted to a string

The official gbXML way is to edit the meta inform

[2018-07-14 19:49] theo-armour opened #3 "Update 2018-07-14 ~ Development branch and GVB R5 added"
## Latest stable release: [gbXML Viewer Basic R4]( https://www.ladybug.tools/spider-gbxml-tools/gbxml-viewer-basic/index.html )

## Latest development release: [gbXML Viewer Basic R5]( https://rawgit.com/ladybug-tools/spider-gbxml-tools/develop/gbxml-viewer-basic/r5/gbxml-viewer-basic.html )

## Change Log

* Create develop branch
* Update to GBV R5.0
* GBX.parseFileXML( text ): now converts a str

[2018-07-26 01:39] theo-armour commented on #1
@macumber @axelstudios

Yay! We have a gbXML Viewer NPM package!

https://www.npmjs.com/package/gbxml-viewer-basic

And it seems to work.

[2018-07-26 16:07] macumber commented on #2
Cool thanks @theo-armour, I think an npm package is very good.  I guess we'll have to set something up on our side to build it.  I am an equally derp myself so I'll have to see the best way to do this.

[2018-07-28 09:30] theo-armour commented on #2
@macumber

The Spider goal is to supply Open Studio with gbXML files that just work. I am working with Michal to automate the process of fixing up Revit files for Open Studio. The goal - after an office/job-specific parameters are set up - is to accomplish fixes with a single click.

Currently, we test only as far as getting gbXML data into Open Studio Geometry View without errors. The next step w

[2018-07-30 16:10] macumber commented on #2
Thanks @theo-armour, I'm going to put out an iteration build (2.6.1) this week that includes the embedded spider and gbXML merging functionalities.  I'll write by email to set up a google chat so we can walk through it and talk about next steps!

[2018-07-30 19:11] theo-armour commented on #2
@macumber @ladybug-tools/spiders

### Your message

Fingers crossed it all slips in easily. Your Spider friends will be here for help at any time.

### Invites
Dan: you have been invited to the 'Spiders' GitHub Team and I have responded to your Doodle request for a meetup time.

### Releases
I will update the dev version to build soon. And I will upgrade to a revision system similar to the ways Th

[2018-08-04 00:36] theo-armour commented on #1
@macumber

![image](https://user-images.githubusercontent.com/547626/43670634-d558bbfc-9742-11e8-9a3b-31ebdc055b63.png)

## [fetch assemble save r2]( https://rawgit.com/ladybug-tools/spider-gbxml-tools/develop/fetch-assemble-save/r2/fetch-assemble-save.html )

## [Read Me]( https://github.com/ladybug-tools/spider-gbxml-tools/tree/develop/fetch-assemble-save )

* Buttons allow you to select various

[2018-08-08 22:52] #3 closed, assigned to nobody

[2018-08-08 22:59] theo-armour opened #10 "Update 2018-08-08 ~ gbXML to OpenStudio Report"
# [gbXML to OpenStudio Report]( https://github.com/ladybug-tools/spider-gbxml-tools/blob/master/gbxml-to-openstudio-report.md )

The goal of the scripts in this project is to enable you to transfer data from a CAD progran to an analysis program with as few steps of human intervention as possible.

This document is intended to a be a summary of lessens learned, test results and any issues of intere

[2018-08-24 19:22] theo-armour opened #11 "Update 2018-08-24 ~ gbXML to OpenStudio Report ~ Questions regarding 'seb.osm' to 'seb.xml''"
@macumber

The following is an excerpt from latest revision of  [gbXML to OpenStudio Report](  https://rawgit.com/ladybug-tools/spider-gbxml-tools/develop/#gbxml-to-openstudio-report.md )

This text documents the steps to convert an OSM file to a gbXML file that currently fails to complete an OpenStudio  simulation

The call to action: What text may be added to 'seb.xml' that will cause the run to

[2018-08-25 21:38] mostaphaRoudsari commented on #11
@theo-armour where can I find seb.osm on GitHub?

[2018-09-12 07:17] mdengusiak opened #12 "Aragog basic R5.2 for Openstudio 2.6.1"
Would be good to review our basic viewer. I tired to load our standard file but recieved this warning

![image](https://user-images.githubusercontent.com/14005893/45387319-9bd41e00-b60d-11e8-8e20-9e8c1a2fd9d2.png)

I can see it is loading into Aragog full version

![image](https://user-images.githubusercontent.com/14005893/45387404-e48bd700-b60d-11e8-99c6-ef770257daf6.png)

Please see attached fil

[2018-09-12 07:17] mdengusiak commented on #12
@mdengusiak

Issues for the Spider gbXML Viewer Basic should be raised in it's repo:

https://github.com/ladybug-tools/spider-gbxml-tools/issues

In any case I am having trouble reproducing the error:

![image](https://user-images.githubusercontent.com/547626/45391950-f9e70e00-b5d9-11e8-980d-911eb8e1c978.png)

[2018-10-08 01:14] #12 closed, assigned to theo-armour, mdengusiak

[2018-10-08 01:37] theo-armour opened #13 "Update 2018-10-14 ~ Spider gbXML Viewer R7.5 is up"
@ladybug-tools/spiders

![image](https://user-images.githubusercontent.com/547626/46589418-27e73300-ca5e-11e8-8fee-2ab1e4d4ea3e.png)

##  [gbXML Viewer Basic R7]( https://www.ladybug.tools/spider-gbxml-tools/gbxml-viewer-basic )

This release incorporates the first significant changes in many months to the core gbXML loading and parsing algorithms. The new code is smaller and faster and appears to

[2018-10-15 06:24] theo-armour commented on #13
@ladybug-tools/spiders @macumber

### Latest release: [gbXML Viewer Basic R7.5]( https://www.ladybug.tools/spider-gbxml-tools/gbxml-viewer-basic/index.html )

My feelings are that Spider 'code name here' Viewer Basic will over take Spider 'Aragog' in a matter of days. Why? Because the code - thus far - is far simpler and easier to maintain.

There are several reasons

* Lots of insights in parsing

[2018-10-23 09:34] mdengusiak opened #14 "Eye icon - hide element"
@theo-armour

we had this nice icon with eye and is gone now... did you replace image to unicode again? we can revert this back?

![image](https://user-images.githubusercontent.com/14005893/47350834-ad99ee00-d6ae-11e8-901b-15bb604f5104.png)

aslo can we remove comma
thanks
![image](https://user-images.githubusercontent.com/14005893/47351063-200ace00-d6af-11e8-9803-c634975e9616.png)

[2018-10-23 09:51] theo-armour commented on #14
No. This is a Windows 7 - ie 2009 - issue. Dev = future. Build = past.

look at read me before reporting bugs

https://www.ladybug.tools/spider-gbxml-tools/#./cookbook/spider-gbxml-viewer-reports/README.md

[2018-10-23 10:29] mdengusiak commented on #14
@theo-armour
ok all clear now

[2018-10-23 10:29] #14 closed, assigned to theo-armour

[2018-11-07 13:30] EvgenyK-SO opened #15 "Reviewing Surface Type Workflow"
This workflow is for fixing only one problem: an exterior surface absents where it should be and presents where it should not. In a raw model there are many “exterior walls” inside the building. And there are blank spots where we want to see an exterior wall or roof. To fix such issues I would like to see the following app behavior:
1.	Visibility settings should be permanent during the session unl

[2018-11-09 09:24] theo-armour commented on #15
@EK-CEL

A first pass at a response:

## [Spider gbXML Text Parser R8.0 'Evgeny' ]( https://www.ladybug.tools/spider-gbxml-tools/sandbox/spider-gbxml-text-parser/r8/spider-gbxml-text-parser-evgeny.html )

* Still many issues - particularly latency

[2018-11-09 14:01] EvgenyK-SO commented on #15
Tried the first pass. Very nice.

- It would be great to be able to to select multiple Levels. For example I want to review the podium so I need to select Levels 1, 2, and 3. To review a West Tower I select levels Level 6 West, Level 7 West, etc. To review the East Tower I select levels Level 6 East, Level 7 East, etc.
- It would be nice to have the <ALL LEVELS> item at the very first place in the

[2018-12-10 04:30] theo-armour opened #16 "Update 2018-12-09 ~ It's quiet here but not for long"
@ladybug-tools/spiders

You probably know the Aesop's fable ["The boy who cied wolf"]( https://en.wikipedia.org/wiki/The_Boy_Who_Cried_Wolf ). Well, the quiet here is kind of the opposite but the same We could actually be crying "chocolate cake and ice cream" or "free money" or whatever every day, but after a while people would begin to say "ya ya".

The Spider gbXML Viewer code is undergoing a bi

[2019-01-30 09:00] theo-armour opened #17 "Spider gbXML Viewer Naming Rights"
After dialog with Michal, Mostapha and myself regarding the naming of projects, I remain confused,

Here's what people want:

Users want release numbers they can understand like R1, R2, R3

Developers want descriptive names for what they are working on. For example, since moving on from Spider gbXML Viewer R14 'Aragog' there have been two huge coding forks:

* Spider gbXML Viewer Basic R1 to R7.8

[2019-01-30 09:22] theo-armour opened #18 "Spider gbXML Viewer R15 'Maevia'"
@ladybug-tools/core @mdengusiak @EK-CEL

Spider gbXML Viewer R15 'Maevia' is kind of ready for testing. It does not yet have all the features of previous releases. Help deciding what features to bring in and with what priority is something you can help with now,

## [Spider gbXML Viewer R15 'Maevia' ]( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer )

New features include

* hand

[2019-01-30 16:45] EvgenyK-SO commented on #18
@theo-armour
Thank you for the update. The performance for large models is fantastic.
Some minor issues\comments\requests:

- It would be nice to have "toggle shadows" in the View Menu > Scene display settings.
- Keep the current state of the rotation when a storey is selected (or other tool is activated). Now the model starts rotating even it didn't before.
- Don't reset the current viewpoint. Fo

[2019-01-30 17:55] EvgenyK-SO commented on #18
For a selected surface I want to see the Zone. I expect to see a number of spaces belonging to the zone (similar to Storey). Instead I see the surface contour only:
![image](https://user-images.githubusercontent.com/39136340/52001743-2a96e980-248e-11e9-82ba-d8a0c3e49f81.png)

[2019-01-31 00:26] theo-armour commented on #18
@EK-CEL

See [Spider gbXML Viewer 'Maevia' R15.2]( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer )

All done

[2019-01-31 09:16] michaldengusiak opened #19 "Spider gbXML Viewer R15 Maevia: Horizontal surfaces"
Roof not included in horizontal:

![image](https://user-images.githubusercontent.com/26113670/52043670-38a14480-2538-11e9-8a88-dee9e3f7863d.png)

test file if needed:
[BHoMgbXML_gbXML.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2816452/BHoMgbXML_gbXML.zip)

[2019-01-31 09:19] michaldengusiak opened #20 "Spider gbXML Viewer R15 Maevia: Normals need adjustment"
I review and we have correct `normals `for all surfaces however here we can see traingulation so we have two surfaces from one and one is correct and second need flip.
![image](https://user-images.githubusercontent.com/26113670/52043976-e280d100-2538-11e9-9bb0-28868305f8d8.png)

test file see Issue #19

[2019-01-31 10:04] theo-armour commented on #19
fixed in r15.3

[2019-01-31 10:04] theo-armour commented on #20
fixed in r15.3

[2019-01-31 11:17] mdengusiak commented on #20
tested, fixed and approved
thanks @theo-armour

[2019-01-31 11:17] #20 closed, assigned to nobody

[2019-01-31 11:17] mdengusiak commented on #19
tested, fixed and approved
thanks @theo-armour

[2019-01-31 11:17] #19 closed, assigned to nobody

[2019-01-31 13:25] EvgenyK-SO commented on #18
Openings Problem

- 'toggle openings' doesn't keep the state. I turn it on, but when I select storeys they disappear.
- Openings should be shown for the selected storeys only, not for the entire building.

I believe openings and edges are child sub-elements of surfaces. And they should be shown only for the visible surfaces.

[2019-01-31 13:28] EvgenyK-SO commented on #18
Zoom problem:
This button works well:
![image](https://user-images.githubusercontent.com/39136340/52057038-fecd3f80-2531-11e9-95f5-96d8b3275f04.png)

But this one is not good:
![image](https://user-images.githubusercontent.com/39136340/52057086-1c020e00-2532-11e9-85be-786fe1dedb2e.png)

[2019-01-31 13:58] mostaphaRoudsari commented on #17
IMO the key is being consistent and with the new approach both users and developers will be happy! 🚀

[2019-01-31 14:21] EvgenyK-SO commented on #17
Sorry, English is not my first language and I should admit my vocabulary doesn't include words Aragog and Maevia. For the Spider tool the names do not help me to understand which of the species is newer. Usually I read the number and they work for me: 15 is newer (and better!) than 13. :)

[2019-01-31 19:48] EvgenyK-SO commented on #18
Problem: When I show\hide storeys the app resets the "Show/hide by surface type" settings.

[2019-02-01 07:07] theo-armour commented on #18
SGV R15.4 fixes the Displays Settings > zoom all issue

Yup, I pointed this out in the pop-up menu help:

Working out the way the interaction is should be is going to be tricky. And the coding is going to be fun. I think it's going to be the the latest action overrides all preceding actions. I could write this all up. But a better thing will be to build a few experiments.

Currently in R15 there i

[2019-02-01 07:23] theo-armour commented on #17
@EK-CEL

Not to worry there will be a release number for every future release.

There will also be a Latin spider species name as well. The reason is that some releases will be built on completely different code bases. Leading up to R15 there was a work on 'Spider gbXML Viewer Basic' R1 to R7 and 'Spider gbXML Viewer Text Parser' R1 to R13 ( and the parent of Spider gbXML Viewer R15 'Maevia') and

[2019-02-01 13:35] EvgenyK-SO commented on #18
I'd like to have the **no connection with 'Show/hide by surface type' settings** problem to be solved at first. After that the program will be fully functional and can be published for users.
The rest of the "problems" are mostly cosmetic and can be addressed when the program reaches "polishing" phase.
I guess the opening/edges "child presentation" is somewhere deep in the app core and would requi

[2019-02-02 06:35] #16 closed, assigned to nobody

[2019-02-02 07:06] theo-armour commented on #18
@EK-CEL

SGV R15.5 may provide a solution to a better the connection between

* Show/hide by surface type
* Show/hide by storeys

I will fix the openings issue at the same time as developing a future clickable openings module

[2019-02-04 14:56] EvgenyK-SO commented on #18
Sorry , I still have a problem with surfaces and storeys. I click the following for a multistorey building model:

* [ exterior surfaces ] button
* Select LEVEL 00 from the storey list
* [InteriorWall] surface type

I expect the interior walls appeared for the selected storey only. Unfortunately the app resets the whole building.

[2019-02-04 15:01] EvgenyK-SO commented on #18
![image](https://user-images.githubusercontent.com/39136340/52216081-73bab500-2863-11e9-9824-e6153b58efff.png)
Storey and zone buttons not working well for me. Please see a sample model, i.e. Samples1 > annapolis-md-single-family-residential-2016.xml

[2019-02-05 09:14] theo-armour commented on #18
@EK-CEL

Good points

Some thoughts:

**Check Revisions**
Always check that you are on latest revision. Very often you need clear the cache. Control-Shift-R should do this. Whenever I do a fix, I increment the release number so do check that we are on same page.

**Surface types and Building Storeys**
Getting the settings as you want is still very tricky. The following image was made by clicking s

[2019-02-05 14:05] EvgenyK-SO commented on #18
Thank you for the thoughts. Typically after working with a large model I open a small one, then I can load another model. I guess it should clean up the cache.

Sure the Zone issue is not crucial for core functioning, but my eyebrows go up when I see such strange behavior.  Probably I should temper my perfectionism. :) I don't understand how well-polished  should be the app to get published. Perso

[2019-02-05 18:24] theo-armour commented on #18
@EK-CEL

This does not always work as wanted. often files are cached by the ISP or whatever it seems. So do check revision numbers and how to do a hard reload when playing with new releases.

The Annapolis model - from Revit - definitely has some strange zones. Most other models - that use zones - seem to be OK. Please do point me to others of the sample models that you feel might have issues in t

[2019-02-08 02:10] theo-armour commented on #18
@EK-CEL

### [Spider gbXML Viewer 'Maevia' R15.6]( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer )

I worked a bit on the storey. and surface type connections. The both update and check the others current status at the same time, There are many issues.

Things that help:

* Do use new reset and show all buttons
* Better first to set the surface types you want visible then second

[2019-02-08 13:28] EvgenyK-SO commented on #18
@theo-armour
Tried the R15.6 update. It works better now. Unfortunately I select surface types, but they don't appear. I need to re-select the storeys I want to explore.
Still storey/surface type connection require improvements. Thank you very much for working on it!

[2019-02-08 19:39] EvgenyK-SO opened #21 "Multiple surface selection"
On fixing gbXML model I usually change the **surfaceType**.
![image](https://user-images.githubusercontent.com/39136340/52501633-c6230b00-2bae-11e9-9bf8-76bf3f1f22ca.png)

For example, in Revit a Space Separator line was along exterior wall and it appears in gbXML model as Air surface. I need to change it to Exterior Wall *surfaceType* and required *constructionIdRef*.
![image](https://user-images

[2019-02-08 19:58] theo-armour commented on #21
@EK-CEL

I hear you. And I can probably add something like you you ask for. On the other hand, what you describe seems to be an issue with many models with many people in many offices.

Would it not be better if we could create a workflow so you could press one button and the issue is taken care of?

The whole effort in the Edit Menu is an attempt to get us to one button, but it needs more work. W

[2019-02-08 20:08] theo-armour commented on #18
@EK-CEL

Thank you for the feedback. I am noticing some of these issues too. It's a very interesting set of circumstances and I am having fun tackling them.

So let's think of some workflows that we would like to solve as a priority.

Would you like to select a group of surface type to display then check level by level and then do some editing? Or would you like to first select a level and then be

[2019-02-08 20:50] EvgenyK-SO commented on #18
Typically I use the first scenario:** select a group of surface type to display then check level by level**.
In fact during the review I need to see how other "invisible" surface types compromise the model. For example, I choose the "Exterior Surfaces", go to a floor, and  (accidentally realizing that I need to check other surfaces)  turn on the Interior Wall surfaces (for the currently selected l

[2019-02-08 21:21] EvgenyK-SO commented on #21
It would be ideal. Theoretically all exposed to sun Air surfaces should be converted to External Walls or Roofs. I believe it would be true for most of such issues.

Previously I shared a few models, i.e. 17134, 18141, and 18038. Two of them are in the Samples2 collection. And the last one was sent to you for large model tests. They contain typical errors generated from imperfect Revit model. Are

[2019-02-08 21:36] EvgenyK-SO commented on #21
Here is a sample file with Air Surfaces which cause typical errors.
[TypicalProblems-AirSurface.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2846955/TypicalProblems-AirSurface.zip)

Although there is a number of such surfaces in the model only two of them should be fixed:
1. Space 1 - Exterior Wall.
2. Space 5 - Roof.

The rest of Air Surfaces are OK.

It is a relatively simple s

[2019-02-08 21:42] theo-armour commented on #18
@EK-CEL

SGV R15.7 is up

Shade is having issues. the various filter buttons have issues.

The types and storeys interaction seems to be progressing

You may need to reload - control-shift-R - several times to get all the scripts to refresh

[2019-02-08 22:06] EvgenyK-SO commented on #18
Looks good for me.
It seems we need the Show All Storeys button.

[2019-02-09 00:02] theo-armour commented on #18
@EK-CEL

R15.8 ~ add (not very smart) show all storeys button

[2019-02-09 01:43] theo-armour commented on #21
@EK-CEL

May I add this file to the online gbXML sample files?

I very much appreciate your sharing of these files.

Now let's fix things. Looking at:

SGV15 > 'Edit Menu' > 'Check all issues in single pass'

17134-M17.xml is interesting because it reports 506 adjacent space duplicates and 687 missing cad object IDs out of 2,774 surfaces

Doing the same operation, 18141-M18.xml also reports number

[2019-02-11 13:23] EvgenyK-SO commented on #18
I wish the button getting smarter :)

[2019-02-11 13:57] EvgenyK-SO commented on #21
@theo-armour

Yes, please.

Yes. In a good model an Air surface appears where we have a big space and we want to divide it for two virtual spaces, i.e. cooking and dining areas. Surprisingly in the *TypicalProblems-AirSurface.xml* file duplicated adjacent space IDs appear for all Air surfaces, not only for the described case. I believe this type of error can be ignored. At least for now I don't se

[2019-02-12 00:53] theo-armour commented on #18
@EK-CEL

I think the 'show all storeys' button in SGV R15.12 is a bit smarter.

It should now be doing a better job of staying in touch with the surfaces by type settings.

[2019-02-12 01:25] theo-armour commented on #21
@EK-CEL

Added TypicalProblems-AirSurface.zip to Spider gbxml zip sample files. Thank you

SGV R15.9 added checkbox to ignore surfaces of type 'Air'. Set default to ignore

I looked at a number of files and the only errors with CAD object ID occurred with Air surfaces. May this the necessity of this error-check needs some more investigation.

All the other cases you mention seem to be complicated

[2019-02-12 13:21] EvgenyK-SO commented on #21
I still believe that we need multiple surface selection.
Because of the discussed model complications the automatic fixing cannot be reliable for 100%, at least for a few years ahead. And still we will need manual intervention into the model. One of our designers told that fixing surfaces one-by-one saves time for calculations input. Multiple selection would be a big relief.
Who knows when we will

[2019-02-12 13:42] EvgenyK-SO commented on #18
Minor issue:
The app shows the "No surfaces would be visible", but they are there. It is confusing a little bit, but not important.
![image](https://user-images.githubusercontent.com/39136340/52639362-12699600-2ea2-11e9-9aa1-8d5b0bf5eb6a.png)

[2019-02-12 14:01] EvgenyK-SO commented on #18
The button works like a charm. Thank you!

[2019-02-13 00:50] #13 closed, assigned to nobody

[2019-02-13 00:51] #15 closed, assigned to nobody

[2019-02-13 00:51] #17 closed, assigned to nobody

[2019-02-13 00:53] theo-armour commented on #18
@EK-CEL

What do you think of the behavior in Maevia 15.3?

[2019-02-13 01:24] theo-armour commented on #21
@EK-CEL

See Maevia R15.3 > Edit menu > Air Surface Type Editor > for a beginning

![image](https://user-images.githubusercontent.com/547626/52679734-dc9ccf80-2eea-11e9-8d9a-2f1ada3173e9.png)

Note that most buttons are still just place holders

Got it. And also do remember what happened when you challenged Spider to open a 700 megabyte file. ;-)

[2019-02-13 08:11] michaldengusiak commented on #21
@EK-CEL  @theo-armour
We already identified before _Air_ cases:
We have to distinguish between _Air_ and _Shade+Air_.

If we have Shade **and** there is parallel surface with air: this is quite easy.
1. take from front shade CADObjectID
2. check if Air have the same space for adjacent space 1 and 2
if yes modify delete one surface and use following data:
-  change `type ` to ExternalWall or Roof o

[2019-02-13 13:42] EvgenyK-SO commented on #21
For this particular situation the Air surface should be changed for Exterior Wall surface. Do you plan to delete all Air surfaces from the model.
I believe Air surfaces should be kept, because it is information. Imagine we "compress" a 24 megapixel picture to 100 KB. Most of information get lost and cannot be recovered. Same about Air surfaces. They potentially can be used later, not for energy ca

[2019-02-13 14:25] EvgenyK-SO commented on #18
@theo-armour
Sorry, I cannot find the R15.3 version.

[2019-02-13 15:04] EvgenyK-SO opened #22 "How to open a local file with script?"
Currently we have a C# Revit application which does the following:
1. Exports Revit model to gbXML file,
2. Makes some fixes
3. Starts FZK Viewer to review the model quality.

Now I want to replace FZK with Spider. Sorry, I am not a programmer, but know some basics. Please suggest how can I open a local gbXML file in the Spider viewer automatically?

Thank you.

[2019-02-13 20:47] theo-armour commented on #18
@EK-CEL

Oops link should have been to latest: R15.13

You can always get latest release with this link

https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/

[2019-02-13 21:11] mdengusiak opened #23 "Spider_gbXML_Viewer_R15.3: Can not see full model"
can not see full model when try to move left or right

![image](https://user-images.githubusercontent.com/26113670/52743857-e699fd80-2fd2-11e9-890b-bae47eec4842.png)

![image](https://user-images.githubusercontent.com/14005893/52744160-d5052580-2fd3-11e9-8675-507b61ffe975.png)

[2019-02-13 21:16] mdengusiak opened #24 "Spider_gbXML_Viewer_R15.3: Air Wall Fix"
As discussed moved to separate issue  `Issue `- Fix Air?

We already identified before _Air_ cases:
We have to distinguish between _Air_ and _Shade+Air_.

If we have Shade **and** there is parallel surface with air: this is quite easy.
1. take from front shade CADObjectID
2. check if Air have the same space for adjacent space 1 and 2
if yes modify delete one surface and use following data:
-  chan

[2019-02-13 21:22] EvgenyK-SO commented on #24
Just copying my comment from previous thread.

------------

For this particular situation the Air surface should be changed for Exterior Wall surface. Do you plan to delete all Air surfaces from the model.
I believe Air surfaces should be kept, because it is information. Imagine we "compress" a 24 megapixel picture to 100 KB. Most of information get lost and cannot be recovered. Same about Air su

[2019-02-13 21:38] mdengusiak commented on #21
@EK-CEL
ok I moved this to separate issue... however I would like to clarify my suggested approach

The only way of truly fix it is to run geometrical adjustment trim/expand surfaces. This is separate subject so lets start to get solution that exist in Spider. If you delete Shade and fix Air your shape will cause lots of issues as you will have lots of tiny surfaces. Of course depends what is purp

[2019-02-13 21:39] mdengusiak commented on #24
@EK-CEL
ok I moved this to separate issue... however I would like to clarify my suggested approach

The only way of truly fix it is to run geometrical adjustment trim/expand surfaces. This is separate subject so lets start to get solution that exist in Spider. If you delete Shade and fix Air your shape will cause lots of issues as you will have lots of tiny surfaces. Of course depends what is purp

[2019-02-13 21:41] mdengusiak commented on #24
@EK-CEL ok to avoid confusion I hidden discussion on other thread so we have all in one place

[2019-02-13 21:45] theo-armour commented on #23
@mdengusiak

This has to do with themes. next release has a fix.

in mean time change theme one or twice and reload should fix things

[2019-02-13 22:10] EvgenyK-SO commented on #24
If so, I totally agree to remove Air surfaces related to the Shade.

[2019-02-14 01:59] #21 closed, assigned to nobody

[2019-02-14 02:01] theo-armour commented on #23
@mdengusiak

Issues should be fixed in Maevia 15.14 and latest  https://www.ladybug.tools/spider-gbxml-tools

[2019-02-14 02:12] theo-armour commented on #24
@mdengusiak @EK-CEL

Maevia R15.14 has a new Edit Menu panel: 'Air Surface Type Editor'

This panel is a work-in-progress - still incomplete and at an early stage. But some of the bttons work and you can visualize the thought processes behind the code. Future versions will combine all the vuttons into one.

The objective is to identify all Air surfaces that on the exterior of the model. In future

[2019-02-14 02:22] theo-armour commented on #22
@EK-CEL

Click the question mark

![image](https://user-images.githubusercontent.com/547626/52757983-7338c180-2fbb-11e9-9025-cfc12e1d98e5.png)

Clicking should take you to this file:

https://www.ladybug.tools/spider-gbxml-tools/#sandbox/spider-gbxml-text-parser/r10/lib/file-open.md

The explanations are complicated but once you get the idea not difficult to put into your workflow

Please have a l

[2019-02-14 14:37] EvgenyK-SO commented on #24
@mdengusiak @theo-armour
Here is another sample file for experiments. This is what we typically have.
Architectural model is never perfect and we modify it in some degree, but our mechanical designers are not architects and they cannot know building envelope design tools in Revit well. Also time for tackling the model is limited. So with our best efforts we can afford for fixing model we still hav

[2019-02-15 00:29] theo-armour opened #25 "Spider gbXML Viewer 'Maevia' R15.15: Add checks for Air surface types on exterior of model"
@ladybug-tools/core

### [Spider gbXML Viewer 'Maevia' R15.15]( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer )

Add beginning of working check if Air surface types are on exterior of a model

![image](https://user-images.githubusercontent.com/547626/52826254-f702b480-3074-11e9-9f70-67a760981376.png)

Air surfaces on exterior of models have had their colors changed to shades of

[2019-02-15 00:52] theo-armour commented on #24
@EK-CEL

Thanks for send this model. Here it is rendered with the Maevia after an Air surface Check

![image](https://user-images.githubusercontent.com/547626/52826745-f9fea480-3076-11e9-96f7-0cd8269777c6.png)

BTW, you will notice that a number of the surfaces are skewed. This is because some of the coordinates of the building run to 7 places to left of decimal and 3 to right. After all the matri

[2019-02-15 07:50] michaldengusiak commented on #24
@EK-CEL
Please review in your Revit model: Project Set Point to be 0,0,0, before you export gbXML
![image](https://user-images.githubusercontent.com/26113670/52842125-0bd35c80-30f6-11e9-96ee-949ebb69292d.png)

[2019-02-15 21:34] theo-armour commented on #25
Maevia R15.16

Highlights vertical and horizontal Air Surfaces on exterior in red and blue. Later on will help in updating to wall or roof/floor surface type,

![image](https://user-images.githubusercontent.com/547626/52885489-45bc5700-3126-11e9-9afe-2c843eb216c0.png)

[2019-02-19 13:41] EvgenyK-SO commented on #24
@theo-armour

The indicated problems still are there. :(

Yes! Please!

[2019-02-20 19:47] EvgenyK-SO opened #26 "Sorting Storeys by elevation"
The problem is to understand which floor is upper and which is lower:
![image](https://user-images.githubusercontent.com/39136340/53119803-46862c00-351e-11e9-9b9c-9a5b82482c58.png)

It would be nice to see the Storeys in order how they appear in real life: upper floors closer to the top of the list.

Thank you.

[2019-02-21 03:13] theo-armour commented on #26
@EK-CEL

See Maevia R15.17

![image](https://user-images.githubusercontent.com/547626/53141058-90353d80-3543-11e9-8d16-4532f65f03e7.png)

[2019-02-21 04:59] theo-armour commented on #25
Maevia R15.17

Add buttons to display only horizontal or vertical exterior air surfaces

![image](https://user-images.githubusercontent.com/547626/53144379-e52b8080-3550-11e9-8f9f-57128ff1e678.png)

Note

The user interface is becoming horribly complicated. There are as yet unknown numbers of false positives and false negatives.

Not to worry. This is a work-in-progress. There is much yet to be le

[2019-02-21 13:00] #26 closed, assigned to nobody

[2019-02-21 14:03] EvgenyK-SO commented on #25
@theo-armour
Thank you for progressing.
Yesterday I've got an update how our designers understand a model for **heating and cooling load calculations** (H&CLC). For some spaces, i.e. washrooms and mechanical rooms, they intentionally want to ignore exterior walls. So, they don't need automatic fix for the model.
Another problem is that generating a large gbXML model takes hours, and our process [G

[2019-02-21 14:48] EvgenyK-SO commented on #22
@theo-armour
I try to follow the instruction:

I guess my link should be like this:
https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/r15/spider-gbxml-viewer15.html#file:///C:/Temp/18330.1-M19.xml

I tried to put the file to our Intranet:
https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/r15/spider-gbxml-viewer15.html#http://celoldintranet/departments/cad/video/test.x

[2019-02-21 23:07] theo-armour commented on #24
@EK-CEL @mdengusiak

Maevia R15.18

![image](https://user-images.githubusercontent.com/547626/53208504-e362cb00-35eb-11e9-9ffc-0c20a459901e.png)

Better detection of air surfaces on exterior

But:
* No detection of interior walls appearing on exterior of model
* No detection of exterior walls that should b shade

Now that we have the beginning of reasonable interior/exterior identification. The tw

[2019-02-21 23:16] theo-armour opened #27 "Spider gbXML Viewer: Recenter On-screen geometry"
@EK-CEL

Please confirm this is the type of issue that needs fixing:

The issue to be fixed is that when a gbXML files includes coordinates that are six to seven digits to the left of the decimal point, then the on-screen geometry may be shifted closer to the origin so as to overcome precision errors in the display. Such transformation should have no effect on the underling gbXML data ( or should

[2019-02-21 23:22] EvgenyK-SO commented on #27
@theo-armour

Could you please clarify.

[2019-02-21 23:37] EvgenyK-SO commented on #27
I believe it is the same issue as discussed [here](https://forums.autodesk.com/t5/revit-architecture-forum/export-gbxml-coordinates-precision/td-p/7419770).
The problem is described as *"the project coordinates are located very far from 0,0 this can lead to data corruption"*.
It happens when the Project Base Point in Revit is hundreds of miles away from the original point. For one of our project i

[2019-02-22 00:04] theo-armour commented on #25
@EK-CEL

Maevia R15.18 is up

All Air surfaces types showing

![image](https://user-images.githubusercontent.com/547626/53209857-b82eaa80-35f0-11e9-9782-d8d4bfb6cec4.png)

Only Internal Air surfaces showing

![image](https://user-images.githubusercontent.com/547626/53209783-77cf2c80-35f0-11e9-9da4-3f7d8f95b54e.png)

***

I hear you. I've added onscreen multi-selection in other projects so iyt can

[2019-02-22 00:30] EvgenyK-SO commented on #27
Two sample files for your tests.
[ProjectBasePoint-VeryFar - R2017.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2891856/ProjectBasePoint-VeryFar.-.R2017.zip)
[ProjectBasePoint-0,0,0 - R2017.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2891857/ProjectBasePoint-0.0.0.-.R2017.zip)
![image](https://user-images.githubusercontent.com/39136340/53211480-49147e80-360f-11

[2019-02-22 01:41] EvgenyK-SO commented on #25
I agree with you. We use HAP, and as a space has exterior exposures, it calculates required CFMs for heating or cooling.  Unfortunately I don't have an idea how to ignore such spaces on load calculations. But I will think about it (one click fix worth it:) ).

[2019-02-24 21:24] theo-armour commented on #27
@EK-CEL

No luck. Just as a simple test, using search and replace in a text editor on the XML, I truncated all the coordinates so there are only for numbers to left of decimal, Here is the result:

![image](https://user-images.githubusercontent.com/547626/53305415-33cd6900-3836-11e9-8d39-7726c1972113.png)

[ProjectBasePoint-VeryFar-truncated- R2017.zip](https://github.com/ladybug-tools/spider-gbxm

[2019-02-24 22:58] theo-armour commented on #22
@EK-CEL @mdengusiak

My bad. I left out the necessary magic trick. 😢

Please see the updated version of this file. Also note new location.

[Opening and loading files with gbXML Viewer]( https://www.ladybug.tools/spider/#pages/file-open.md)

This release of the file has a new section you should look at titled 'Special note on using local files'.

All of this is a little bit complex. Please do help

[2019-02-25 13:30] EvgenyK-SO commented on #27
I think it would be very helpful.
May be it is a crazy idea, but I would like to estimate how deep the gbXML model is compromised. Show the "damage degree" for every aspect. For example, depending of how far is the project from origin it can spoil geometry accuracy for 1% or 10%. If first case I can ignore the issue accept the model, with another one I either should take actions to fix the model,

[2019-02-25 13:48] mdengusiak opened #28 "Spider gbXML Viewer 'Maevia' R15.20: Exposed to sun error"
we have correct attributed surfaces but do not show in Maevia

![image](https://user-images.githubusercontent.com/26113670/53341536-b2dca300-3903-11e9-877b-3c718ab07c90.png)

![image](https://user-images.githubusercontent.com/26113670/53341589-dacc0680-3903-11e9-912f-f20447e4e0f7.png)

sample attached here:
[BHoMgbXML5_TAS.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2900777/BHoM

[2019-02-25 22:48] EvgenyK-SO commented on #22
@theo-armour

The instruction is good enough to understand and follow.

May be I am stupid, but after following your instructions I still cannot make it working.
Should this work?
![image](https://user-images.githubusercontent.com/39136340/53374148-889bdd00-3925-11e9-93b6-846923be4942.png)
I input *file:///C:/Temp/zz.xml* into address line and browser (Chrome or Firefox) opens the file, but the ad

[2019-02-26 00:18] theo-armour commented on #28
@mdengusiak

Fixed in Maevia R15.21

![image](https://user-images.githubusercontent.com/547626/53377848-5637b300-3918-11e9-8acc-0348c029ea76.png)

[2019-02-26 02:07] theo-armour commented on #22
@EK-CEL

I have added three new items to the FAQ. I hope these help.

## https://www.ladybug.tools/spider/#pages/file-open.md

[2019-02-26 08:32] mdengusiak commented on #28
tested and approved :)

[2019-02-26 08:32] #28 closed, assigned to theo-armour

[2019-02-26 08:33] mdengusiak commented on #23
tested and approved, thanks @theo-armour

[2019-02-26 08:33] #23 closed, assigned to theo-armour

[2019-02-26 08:47] mdengusiak opened #29 "Spider gbXML Viewer 'Maevia' R15.21: Issue with seeing surfaces data and Horizontal"
I can not see surface properties
![image](https://user-images.githubusercontent.com/14005893/53398977-de629a80-39a2-11e9-8722-6d46ac014e08.png)

When I select Horizontal - floor is missing
![image](https://user-images.githubusercontent.com/14005893/53399043-05b96780-39a3-11e9-90e6-b0ebae7f0153.png)

See attached test file
[Rhino to BHoM Test_IES.zip](https://github.com/ladybug-tools/spider-gbxml-t

[2019-02-26 15:54] EvgenyK-SO commented on #22
@theo-armour
Thank you for the FAQ update. It clarifies something.
I think that no need to input the file name in format *file:///*. The script converts the original file name correctly:
![image](https://user-images.githubusercontent.com/39136340/53426329-c5fb7b80-39b4-11e9-87c0-745f829b152b.png)

Unfortunately the picture indicates that I cannot open the file, even the Chrome is started as requir

[2019-02-26 22:24] theo-armour commented on #29
@mdengusiak

Maevia R15.21 ~ POP/VBS > Add check for no storey name

![image](https://user-images.githubusercontent.com/547626/53450758-f9003800-39d1-11e9-97dc-a627739e4810.png)

[2019-02-26 22:25] #18 closed, assigned to nobody

[2019-02-26 22:33] theo-armour commented on #24
@EK-CEL

This issue is now over my brain capacity to handle.   ;- )

I think most aspects are being covered else where.

Please close this issue if you feel it's OK. And please do start new issues on any aspects you feel are still unsolved.

[2019-02-26 22:35] EvgenyK-SO commented on #24
@theo-armour
Which issue:
1. Automatic fix for Air surfaces?
2. Specific problem with the last sample model?

[2019-02-26 22:38] theo-armour commented on #24
Spider_gbXML_Viewer_R15.3: Air Wall Fix

https://github.com/ladybug-tools/spider-gbxml-tools/issues/24

[2019-02-26 22:42] EvgenyK-SO commented on #24
@theo-armour

I didn't believe the problem can be fixed automatically. Although I hoped for magic. :)
@mdengusiak created the issue. Should we ask him to close it?

[2019-02-27 07:33] theo-armour commented on #22
@EK-CEL

Me too. I reset all my browser setting to default and now I also can't load local files from Maevia running on GitHub - though I can load local files when Maevia is launched from my computer.

Anyway, it's time to rethink the workflow because it's all getting too complicated. 😞

The objective is to minimize clicks and keystrokes. We want to be able to open a file using the file dialog box

[2019-02-27 08:12] mdengusiak commented on #24
This is approach we try to implement now in our BHoM gbXML export. I believe would be powerful to have as well and once you export  gbXML from Revit using BHoM.
This however requires geometry understanding and ability to recognize parallel surfaces close to each other. I will have call with Theo to check if we have already have this capability or we need to postpone this for next edition.

[2019-02-27 08:34] theo-armour commented on #24
@mdengusiak @EK-CEL

The 'Air Surface Type Editor' in the Edit menu is beginning to take shape, It's doing a fairly good job of finding any intersection cast from a normal of a surface. It can already isolate all internal Air surfaces, all external horizontal Air surfaces and all external vertical Air surfaces. Future revisions will work with any surface type. And future revisions should also be a

[2019-02-27 08:37] mdengusiak commented on #24
ok agreed...
we will log each "problematic" item as small issue with sample so easy to debug and solve together :)

[2019-02-27 08:37] #24 closed, assigned to theo-armour

[2019-02-27 13:03] mdengusiak opened #30 "Spider gbXML Viewer 'Maevia' R15.23: Issue with surfaces Panel-276 and Panel-279"
I have broken file that does not import into simulation tool,
Panel-276 and Panel-279 are problematic.

I can see also problem in ver R12.34 as surface is not displaying but it does show in R15.23 without any error. We need to find what is problem with these surfaces and log this under issues in 'Maevia' we know what is problem inside gbXML.

![image](https://user-images.githubusercontent.com/1400

[2019-02-27 13:47] EvgenyK-SO opened #31 "Question - Spider gbXML Viewer 'Maevia' - Priorities"
I would like to understand were the project is headed to.
Previously the target was to fix exterior surfaces, and more specific: convert Air surfaces to Exterior walls and Roofs. Now all the related issues are closed, but the target is not achieved yet:

* Automatic fix is postponed.
* There is no other way to edit surface type.

The requested workflow #15  is not finished. Parser and level&sufrac

[2019-02-28 05:26] theo-armour commented on #30
@mdengusiak

I have had a quick look at the XML file and at the display in the viewers. It seems to me that the issue is that the mullions are just 6 mm. The surface is 4.5 high. The opening is 4.488 high.

Since R12 cuts holes in surfaces, so there is nothing left to see in R12 and becomes almost invisible. R15 draws the outline of an opening but does not yet cut holes - so you see the full surfa

[2019-02-28 05:28] #25 closed, assigned to nobody

[2019-02-28 05:30] theo-armour commented on #27
@EK-CEL

I have started 'Spider gbXML Tester', it should be ready for a first look soon.

[2019-02-28 05:45] theo-armour opened #32 "Multiple Objects Interactive Selection Prototype"
@EK-CEL @mdengusiak

### [multiple objects interactive selection](  https://www.ladybug.tools/spider/cookbook/multiple-objects-edit/multiple-objects-interactive-selection.html)

Your thoughts, comments suggestions appreciated.

[2019-02-28 06:02] theo-armour commented on #31
@EK-CEL

Thank you for creating this issue. I think misread some of the texts in previous messages and became confused about things.

This workflow I understand and can do.

I will also work on identifying and fixing any interior surface type found on the exterior of the model. Also any surfaces that should be shade.

The initial releases may continue to require you to push buttons in a certain or

[2019-02-28 08:34] mdengusiak commented on #32
@theo-armour  this is great...
1. would be possible to have one more option to `IsolateSelected ` and then `ShowAll ` but keep selection so we can revert back to all and keep selecting?

[2019-02-28 08:58] mdengusiak commented on #30
@theo-armour
OK I manage to isolate issue and here is just two zone model with problem
[BHoMgbXMLrevit2zones_TAS.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2914145/BHoMgbXMLrevit2zones_TAS.zip)
What it is actually Curtain Wall System Panel from two different walls have same geometry and this is wrong in XML. Would be good to get some check and highlight under issue.

here are i

[2019-02-28 13:02] EvgenyK-SO commented on #31
Absolutely! Thank you.

[2019-02-28 13:10] EvgenyK-SO commented on #32
Feature request:
Center of selection is a center for orbit and zoom.

[2019-02-28 13:16] EvgenyK-SO commented on #32
Let's say we have a situation:
The view field is full of objects, i.e looking too close to building.
I am in selection mode.
I want to orbit the view.
I left-click and move mouse.
I expect the view rotation.
Yes, the view is rotating. The problem is that I have the element selected/unselected.
Is it possible to recognize mouse movement with pressed button? If so, don't select/unselect the element

[2019-02-28 13:18] EK-CEL commented on #32
Why picking elements works on clicking any mouse button: left, right, and wheel?
I guess it should work with left mouse only.

[2019-02-28 13:50] EK-CEL commented on #32
We need window selection.

[2019-02-28 13:57] EK-CEL commented on #32
It would be nice to have a section "Navigation and Selection" and buttons under it `Revit like`, `AutoCAD like`, etc.
It relates rather to Tree.js core. But I think it should be there.

[2019-02-28 14:02] mdengusiak commented on #32
@EK-CEL
one idea to include... lots of interesting comment but please have a think from more abstract perspective not software but browser.
ie... imagine we can run this via Tablet ie Ipad and still can achieve all these task..... so this solutions need to be generic

[2019-02-28 14:14] EvgenyK-SO commented on #32
Agree. Although I think that productivity is higher on a desktop system. And if people can use the same habits switching between applications it would be more productive.

[2019-02-28 20:04] theo-armour commented on #22
@EK-CEL

# Spider gbXML Viewer 'Maevia' Local

## Local version: https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/r15/spider-gbxml-viewer15-local.html

Download this file ( Chrome context menu > 'Save link as...' ) to your desktop or wherever, follow guidelines for loading local files here [Opening and loading files with gbXML Viewer]( https://www.ladybug.tools/spider/#pages/file-o

[2019-02-28 20:53] EvgenyK-SO commented on #22
@theo-armour
It works! Thank you very much!
BTW it accepts model file path in "standard" format, i.e. c:\Temp\zz.xml. There is no need using *file:///* prefix. Please update the FAQ article.

[2019-02-28 21:25] EvgenyK-SO commented on #32
@theo-armour @mdengusiak
I can identify the feature requests like this:

GENERIC
---
* Make selection with left mouse button only
* Orbit/Pan/Zoom without selecting/unselecting element under cursor
* Orbit/Zoom on center of selection

DESKTOP
---
* `Navigation and Selection` section with buttons under it `Revit like`, `AutoCAD like`, etc.
* Window selection.

[2019-02-28 21:26] mdengusiak commented on #29
👍 tested and working fine

[2019-02-28 21:26] #29 closed, assigned to theo-armour

[2019-02-28 21:31] mdengusiak opened #33 "Spider gbXML Viewer 'Maevia' R15.23: Internal Floor with one adj"
this should be picked under Edit Menu - Check all issues in single pass  - Adjacent Space

as we have issue here all internal surfaceType must have 2 AdjacentSpace

[code]

Please see attached test file:
[BHoMgbXMLnewSAM_TAS.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2916986/BHoMgbXMLnewSAM_TAS.zip)

[2019-02-28 21:32] theo-armour commented on #22
@EK-CEL

Yay, at last! We can stop crying now.

I'm sure there will be issues - and ways we can make the workflow even smoother. So do keep me pushing us for improvements.

Yes, thank you for showing me this!

Will do. I will also add details about the local file and it's usage.

[2019-02-28 21:43] mdengusiak opened #34 "Spider gbXML Viewer 'Maevia' R15.23: Not possible to cut section"
Unable to cut section via my building
![image](https://user-images.githubusercontent.com/14005893/53600585-d15fca00-3ba1-11e9-9d06-85435ecfa39a.png)

see test file in #33

[2019-03-01 01:07] theo-armour commented on #34
@mdengusiak

Should work better in Maevia R15.25

[2019-03-01 08:14] mdengusiak commented on #34
tested and approved thanks @theo-armour

[2019-03-01 08:14] #34 closed, assigned to theo-armour

[2019-03-03 15:01] mdengusiak opened #35 "Spider gbXML Viewer 'Maevia' R15.25: Add Construction"
@theo-armour as discussed here is
1. Add Construction - visualisation for each BuildingElement

[code]

as starting point Construction :
- Name
- U-value

then we follow up with

[code]
WindowType:
- Name
- U-value
- SolarHeatGainCoeff

test file here:
[BHoMgbXML_Constructions.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2923244/BHoMgbXML_Constructions.zip)

[2019-03-03 15:03] mdengusiak opened #36 "Spider gbXML Viewer 'Maevia' R15.25: Provide Normals fix for external surfaces"
Here is perfect example with wrong normals see here:

![image](https://user-images.githubusercontent.com/14005893/53697077-58d95300-3dc5-11e9-98f7-9ede76edab94.png)

can we provide automated fix for external surfaces

test file: #35

[2019-03-03 15:07] mdengusiak opened #37 "Spider gbXML Viewer 'Maevia' R15.25: Provide Opening check"
`Surface Openings have too much area for base surface=PANEL-6`

We need to make sure that the opening area is less than the host element - area can not be the same
We should provide check as part of Issue check
Also check   is surface area is not zero.

test file here #35

[2019-03-03 16:23] mdengusiak commented on #35
Also here is for reference working file that run in OpenStudio
[BHoMgbXML_fixed_runningOpenStudio.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2923333/BHoMgbXML_fixed_runningOpenStudio.zip)

[2019-03-06 17:23] mdengusiak opened #38 "Spider gbXML Viewer 'Maevia' R15.28: Error checking for AdjacentSpace"
we should be able to provide identification quick fix for all walls with `AdjacentSpace` = 1 and change surfaceType Exterior Wall

![image](https://user-images.githubusercontent.com/14005893/53900474-85df6d00-4034-11e9-8bd2-8a8875c5838c.png)

great test file..
[Rhino to BHoM Test5_IES.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/2937479/Rhino.to.BHoM.Test5_IES.zip)

[2019-03-06 17:24] mdengusiak commented on #35
@theo-armour
wooow amazing to see Construction entering Spider :)

[2019-03-13 03:44] theo-armour opened #39 "New Script: Spider gbXML Tester R1.4"
@ladybug-tools/core

![image](https://user-images.githubusercontent.com/547626/54252045-9d23cc00-4506-11e9-87c6-5b7df14a17c5.png)

## Bookmark this link: [Spider gbXML Tester]( https://www.ladybug.tools/spider-gbxml-tools/sandbox/spider-gbxml-tester/ )
* https://www.ladybug.tools/spider-gbxml-tools/sandbox/spider-gbxml-tester/

## Concept

Many of the issues to be found in parsing gbXML files are

[2019-03-16 06:51] theo-armour commented on #39
@EK-CEL @mdengusiak
![image](https://user-images.githubusercontent.com/547626/54471806-82f32380-477c-11e9-9feb-bdd176e58b30.png)

### [Spider gbXML Tester R1.3]( https://www.ladybug.tools/spider-gbxml-tools/sandbox/spider-gbxml-tester )

* Add details and function to add add the details to divContents
* Code cleanup
* Run through jsHint

It's a lot easier to build tests here than in the 3D viewer.

[2019-03-16 16:07] mostaphaRoudsari opened #40 "Right side toggle doesn't work when no surface is selected"
I was checking out the latest version of the gbxml-viewer (https://www.ladybug.tools/spider/gbxml-viewer/r14/gv-cor-core/gv-cor.html) an realized when there is no surface selected the <s>button</s> toggle on right side doesn't do anything. Should it be hidden at scenarios like this?

![image](https://user-images.githubusercontent.com/2915573/54477969-971e3b80-47e3-11e9-99b8-8b4d8594e155.png)

1. <

[2019-03-16 18:02] mdengusiak commented on #40
@mostaphaRoudsari  I normally use [R12 ](http://www.ladybug.tools/spider/gbxml-viewer/r12/gv-app/gv-app.html)or [R15](https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/r15/spider-gbxml-viewer15.html#https://www.ladybug.tools/spider/gbxml-sample-files/bristol-clifton-downs-fixed.xml)

 however this what we call `right hand menu ` is tod hide selection detail
I tested on R14 and you n

[2019-03-16 22:27] mostaphaRoudsari commented on #40
That was my point. If it doesn't have a functionality when a surface is not selected then I would say it should be hidden or grayed out until one selects a surface.

[2019-03-16 22:44] theo-armour commented on #40
@mostaphaRoudsari

Agreed. the button should be at least grayed out when it is not available.

But pushing even further: having two sliding menus on an app that is viewable on a phone or tablet is too tricky.

R15 does away with the slider button and the pop-up menu just opens and closes. R15 has , however, a lot of other work-in-progress issues on a phone BTW,

[2019-03-19 03:30] theo-armour commented on #39
@mdengusiak @EK-CEL

![image](https://user-images.githubusercontent.com/547626/54578127-cbe4eb00-49bb-11e9-846e-e7a24e9da070.png)

### [Spider gbXML Tester R1.4]( https://www.ladybug.tools/spider-gbxml-tools/sandbox/spider-gbxml-tester/ )

* Add full details for each surface
* Open and close details depending on errors found
* Display number of errors found in summary
* Add beginning of delete and

[2019-04-08 20:56] mdengusiak opened #41 "Spider gbXML Viewer 'Maevia' R15.34: floor as roof"
there is internal floor which should be roof...
we need to add to our fixes

files with floor_roof issue
[SAM_Live_New.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/3056223/SAM_Live_New.zip)
[BHoMgbXML_IES.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/3056284/BHoMgbXML_IES.zip)
[BHoMgbXML_TAS.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/3056285/B

[2019-04-13 08:39] theo-armour commented on #41
@mdengusiak

Your models are now in the sample folder of ZIP files. Thank you for these,

@MechSpec

Your sample XML file is now in the samples 2 folder. Thank you for this file.

[2019-04-15 20:09] mdengusiak commented on #1
we are moving to new code base.. in Maevia,
...if we get contributor happy to make it Node.js compatible we will adjust code,
I will tag as `Parked `so we can retrieve in the future

[2019-04-15 20:09] #1 closed, assigned to theo-armour

[2019-04-15 20:11] mdengusiak commented on #2
awaiting contributor with Node.Js experience

[2019-04-15 20:11] #2 closed, assigned to theo-armour

[2019-04-15 20:13] mdengusiak commented on #10
we are now implementing construction and materials into Maevia and this should be compatible with OpenStudio materials,

[2019-04-15 20:13] #10 closed, assigned to nobody

[2019-04-15 20:15] mdengusiak commented on #11
continuation of https://github.com/ladybug-tools/spider-gbxml-tools/issues/10

[2019-04-15 20:15] #11 closed, assigned to nobody

[2019-04-15 20:22] mdengusiak commented on #22
I hope this works now. We moving on and I am closing this now.

[2019-04-15 20:22] #22 closed, assigned to nobody

[2019-04-15 20:28] mdengusiak commented on #27
This is be picked up by [Spider Fixer](https://www.ladybug.tools/spider-gbxml-fixer/r2/spider-gbxml-fixer.html)
@theo-armour  to add both ways links between Maevia and Fixer,

[2019-04-15 20:28] #27 closed, assigned to nobody

[2019-04-15 20:35] mdengusiak commented on #31
great...and closing this now to get all under control again :)

[2019-04-15 20:35] #31 closed, assigned to nobody

[2019-04-15 20:50] mdengusiak commented on #32
ok...

**IsolateSelected**
![image](https://user-images.githubusercontent.com/14005893/56163889-6cccc300-5fc7-11e9-9d68-c79b4a08d0ec.png)

**ShowAll**
![image](https://user-images.githubusercontent.com/14005893/56163945-8bcb5500-5fc7-11e9-8c2d-6497cf20deb7.png)

**Center of selection is a center for orbit and zoom.**
select element IsolateSelected then ShowAll, it will rotate among new center for

[2019-04-15 20:58] mdengusiak commented on #33
to be fixed by [Fixer](https://www.ladybug.tools/spider-gbxml-fixer/r3/spider-gbxml-fixer.html)

[2019-04-15 20:58] #33 closed, assigned to theo-armour

[2019-04-15 20:59] mdengusiak commented on #30
to be fix by Fixed

[2019-04-15 20:59] #30 closed, assigned to theo-armour

[2019-04-15 21:03] mdengusiak commented on #35
@theo-armour  to be included in Surface Attribute Module, so in Spider Fixer as well

[2019-04-15 21:08] mdengusiak commented on #39
ok fixer in now set up here as spider-gbxml-fixer https://www.ladybug.tools/spider-gbxml-fixer/

[2019-04-15 21:08] #39 closed, assigned to nobody

[2019-04-15 21:11] mdengusiak commented on #40
moved to correct repo

[2019-04-15 21:11] #40 closed, assigned to nobody

[2019-04-15 22:14] mostaphaRoudsari commented on #40
Hi @mdengusiak, Just in case you didn't know you can transfer issues between repositories:

![image](https://user-images.githubusercontent.com/2915573/56168796-3d5b8d80-5faa-11e9-8880-f56e17f358fe.png)

[2019-04-16 05:49] theo-armour commented on #32
@EK-CEL

Mevia R15.1.0 << new numbering system

Done

[2019-04-16 12:46] EvgenyK-SO commented on #32
@mdengusiak

Thank you for the idea! Clicking the ![image](https://user-images.githubusercontent.com/39136340/56210162-345ad280-6023-11e9-88c5-089e09b0c79f.png) button works exactly as I expect, with two exclusions: it should be no zoom and no button. Selected elements should instantly define the centroid.

[2019-04-16 20:17] michaldengusiak commented on #32
yes... we need to find a way  to get some workarounds sometimes... lets see what is possible

[2019-04-17 19:49] theo-armour commented on #32
see 15.1.1

[2019-04-17 20:47] mdengusiak commented on #32
ok this works good now...

we select vie left click

we set up center by clicking twice on surface
![image](https://user-images.githubusercontent.com/14005893/56319646-2fe50580-615a-11e9-9ff0-c48e1517e83b.png)

once surface is selected we can move with right click or keeping mouse over selected surface rotate
thanks

[2019-04-17 20:47] #32 closed, assigned to nobody

[2019-04-17 21:31] EvgenyK-SO commented on #32
@mdengusiak

I would like to have more ;-)

Unfortunately the double click resets the whole scene: https://autode.sk/2VPrdY5
It is not good. I want to reset back to my storey, and keep my visibility settings when I review surfaced floor-by-floor (it is implemented by @theo-armour ).

[2019-04-17 22:02] theo-armour commented on #32
@EK-CEL @mdengusiak

More accurate text:

Click the surface button in pop-up menu to isolate the currently selected surface and recenter the camera target to the center of the selected surface

Click the surface button again to view all the surfaces - without recentering the camera target

Click 'Zoom all' to reset the camera target to the center of the entire model

***

maevia r15.1.2
B - Pop-up

[2019-04-17 22:12] EvgenyK-SO commented on #32
@theo-armour @mdengusiak
How about this edition:
Click the surface button again to view all the surfaces *keeping the camera center on the surface*.

[2019-04-17 22:16] theo-armour commented on #32
@EK-CEL

yes, that's even better text.

thank you for the video - interesting use of a product made by my former employer. ;-)

How is the functionality of this way of dealing with surfaces beginning to feel?

[2019-04-17 22:27] EvgenyK-SO commented on #32
@theo-armour
former employer - what feelling do you get - hate or proud? ;)

-----
My feellings about the surfaces are pleasant. Thank you for improvements.
Only one significant request  left: ''Orbit without selecting/unselecting element under cursor''. I am not sure it can be done, but it would be great!

[2019-06-12 20:19] mdengusiak commented on #38
implemented in `Atrax `checks
https://www.ladybug.tools/spider-gbxml-fixer

[2019-06-12 20:19] #38 closed, assigned to theo-armour

[2019-06-13 07:54] theo-armour commented on #37
@mdengusiak

See "Atrax" V0.4.21

'Check for openings too large'

'Check for valid text and numbers;

Also see

'Check for non-watertight vertices'
'Check for non-watertight spaces' - work in progress

[2019-06-13 08:00] theo-armour commented on #41
@mdengusiak

Have you tried finding these errors using the Edit menu files with recent version of Maevia?

[2019-06-14 03:18] theo-armour opened #42 "Spider gbXML Viewer V 0.16.0"
@mdengusiak

## [Spider gbXML Viewer V 0.16.0]( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/dev/ )

![image](https://user-images.githubusercontent.com/547626/59481208-35886000-8e18-11e9-9f5a-7f5eb0c0a96d.png)

* First commit
* Uses same content management scripts as Atrax
* Switch to semver version numbers
* Has all R15 features except editing ( coming soon)
* Adds new feature

[2019-06-21 06:58] michaldengusiak opened #43 "Spider gbXML Viewer: Visualise Opening"
Allow Opening selection and display data  same as for Surfaces so something like:

Selected Openings Attributes
openingType : NonSlidingDoor
id: aim13150
CADObjectId: Basic Roof: SIM_EXT_SLD_Roof DA01 [929372]
Name: T-RF_102-E-R-495

Also geoemtry data
Width
Height
Number of points
Area

[2019-06-21 07:00] michaldengusiak opened #44 "Spider gbXML Viewer: Construction Attributes"
Display Construction information and option for detail items Materials

[2019-06-21 07:03] theo-armour commented on #43
@michaldengusiak

[Spider gbXML Viewer 'Maevia' ]( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/v-0-16-01/viewer-view/spider-gbxml-viewer-view.html )

[Spider gbXML Fixer 'Atrax']( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/v-0-16-01/viewer-fixer/spider-gbxml-viewer-fixer.html )

[2019-06-21 07:04] theo-armour commented on #44
@michaldengusiak

[Spider gbXML Viewer 'Maevia' ]( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/v-0-16-01/viewer-view/spider-gbxml-viewer-view.html )

[Spider gbXML Fixer 'Atrax']( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/v-0-16-01/viewer-fixer/spider-gbxml-viewer-fixer.html )

[2019-06-21 07:05] theo-armour commented on #42
V 0.16.01

[Spider gbXML Viewer 'Maevia' ]( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/v-0-16-01/viewer-view/spider-gbxml-viewer-view.html )

[Spider gbXML Fixer 'Atrax']( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/v-0-16-01/viewer-fixer/spider-gbxml-viewer-fixer.html )

[2019-06-21 07:45] michaldengusiak opened #45 "Spider gbXML Viewer: Zone color by attribute"
Left menue Zone select parameter and color all spaces by value based on color scheme
AirChangesPerHour
OAFlowPerArea unit="LPerSecPerSquareM"
OAFlowPerPerson unit="LPerSec"
DesignHeatT unit="C"
DesignCoolT unit="C"
TypeCode 0
Name Zone
CADObjectId

I will provide default coloring scheme ranges later on... for each parameter
now please use this as starting point

Range | Color | R | G | B
-- | -- |

[2019-06-26 09:08] theo-armour commented on #44
@michaldengusiak

![image](https://user-images.githubusercontent.com/547626/60167009-0f1ed900-97b7-11e9-8e52-6318cd92a18e.png)

[2019-06-26 09:12] theo-armour commented on #45
@michaldengusiak

![image](https://user-images.githubusercontent.com/547626/60167387-da5f5180-97b7-11e9-89ac-38a5976c7f50.png)

[2019-06-26 17:30] michaldengusiak commented on #45
@theo-armour this looks great!
- can we do rounding to 1 decimal?

[2019-06-26 17:33] michaldengusiak commented on #44
@theo-armour  looks great
can we display construction by name not ID, and CADObjectID as well thanks

[2019-06-27 21:00] michaldengusiak commented on #45
@theo-armour

- [ ] add legend to show color
- [ ] allow to show zones per level
- [ ] zone name - color by value
- [ ] allow zone filtering by CADObjectID, Uvalue...
- [x] allow Surfaces filtering by CADObjectID...
- [x] allow Opening filtering by CADObjectID, OpeningType...

[2019-07-01 18:24] michaldengusiak commented on #42
@theo-armour  this is great

[2019-07-01 18:24] #42 closed, assigned to nobody

[2019-07-01 18:31] michaldengusiak commented on #43
@theo-armour
this is great
can we add ti CAD Object ID groups also Openings, groups and without element ID

![image](https://user-images.githubusercontent.com/26113670/60458535-cba0f080-9c36-11e9-9862-58973a3743d9.png)

[2019-07-01 18:33] michaldengusiak commented on #44
@theo-armour  perfect!
![image](https://user-images.githubusercontent.com/26113670/60458660-191d5d80-9c37-11e9-92e1-a85253a5fab8.png)

[2019-07-01 18:33] #44 closed, assigned to nobody

[2019-07-01 18:36] michaldengusiak commented on #45
@theo-armour

- [ ] Zone colors

'Maevia' v0.16.01-8
coloring does not  work for me
![image](https://user-images.githubusercontent.com/26113670/60458834-83360280-9c37-11e9-9232-69f799819850.png)

- [x] external surface, are different to exposed to Sun
there is something wrong here SlabOnGrade adn Wall Below Grade should be external
![image](https://user-images.githubusercontent.com/26113670/604590

[2019-07-01 19:56] theo-armour commented on #43
@mdengusiak

Please expand and clarify

[2019-07-01 21:00] theo-armour commented on #45
@mdengusiak

Sorry, I had no tested on models with only one single zone.

BTE, only the colors in the select element update. In order to progress we need a model with multiple spaces and multiple zones as test case and prototype for building

Currently using this model

* https://cdn.jsdelivr.net/gh/GreenBuildingXML/Sample-gbXML-Files@master/gbXML_TRK.xml

But 1 zone for 1 space. Need 1 zone for s

[2019-07-01 22:48] theo-armour commented on #35
@mdengusiak
New view menu items added to fixer

[2019-07-02 07:40] michaldengusiak commented on #43
@theo-armour  so as discussed new item
`CAD object id groups Openings`

[2019-07-02 07:43] michaldengusiak commented on #45
@theo-armour
please see attached model with Zones, [Lonodn Office new - Zones.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/3348847/Lonodn.Office.new.-.Zones.zip)
Revit limit is min =0 degC and max 100 degC

[2019-07-02 07:43] michaldengusiak commented on #45
- [x] adjust opening setting to show external surfaces

[2019-07-23 12:34] EvgenyK-SO opened #46 "How to change surface type now?"
Hello.
With the current Maevia version I don't see the ability to change the surface type on the right panel, i.e. from Air to Exterior Wall.
How can I do that?
Thank you.

[2019-08-08 02:17] theo-armour opened #47 "Spider gbXML Viewer 'Maevia' v0.17.02"
@ladybug-tools/spiders

![image](https://user-images.githubusercontent.com/547626/62670316-aabf6f80-b947-11e9-84b0-e6d75ed99ae2.png)

This is a significant update for the following reasons (plus a few more):

1. I am, at last, not unhappy with the code. It's not great code. Perhaps more importantly it's not such bad code either.

2. I am not unhappy with the mission and vision. It's not so much ab

[2019-08-08 02:57] theo-armour commented on #46
@EK-CEL

Sorry for slow reply to this issue. Somehow it does not seem to have made it to my mailbox. Or more likely I deleted the notice by mistake.

There are several answers to your question. It depends on the type of error

In Maevia v0.17.O2 in the Fixer menu > Fix air surfaces with single adjacent space. This is a basic check and needs more testing.

In Maevia r15.3.5 there are the more sophi

[2019-08-08 11:06] EvgenyK-SO commented on #47
@theo

Don't worry, be happy! :-)

P.S. Thank you for your restless efforts.

[2019-08-13 14:04] EvgenyK-SO commented on #46
@theo-armour
I am wondering - for a building like this:
![image](https://user-images.githubusercontent.com/39136340/62947968-82a19780-bdb1-11e9-9c33-66eb4acf67f9.png)

How can the Spider automatically recognize what is the void in the building: shaft or courtyard?

[2019-08-13 14:33] EvgenyK-SO opened #48 "Reset Exploded problem"
I cannot bring exploded model back to "assembled". Here is the video:
https://autode.sk/2YLUp7T

[2019-08-14 06:14] theo-armour commented on #46
@EK-CEL

See R15

https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/r15/spider-gbxml-viewer15.html

Uses ray-casting. Any ray emanating from a wall that that passes through an even number of external surfaces must itself be external.

Will be in v0.17 - and simplified - before too long

[2019-08-14 06:21] theo-armour commented on #48
@EK-CEL

Thanks for the heads up. Things should be much better in [0.17.02-1sgv](https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer)

![image](https://user-images.githubusercontent.com/547626/62998647-06df3380-be21-11e9-9112-129120e4b1ad.png)

[2019-08-14 12:26] EvgenyK-SO commented on #46
@theo-armour
Sorry, I probably didn't describe problem clearly.
Let's assume that the hole in the building is a shaft. Quite often our designers don't put any space for a shaft, it is just an empty sport in the model. Unfortunately Revit not always can properly determine the surface type properly. It may happen that two of the surfaces appear as internal and other two as external in the exported g

[2019-08-14 12:47] EvgenyK-SO commented on #48
@theo-armour
Thank you for fixing it.
One more minor issue. Please try the steps:
1. Explode by Storeys 2
2. Plus, Plus, Plus
3. Explode by Storeys 2
4. Minus, Minus, Minus.

Theoretically the steps should bring the model back to a nice assembly. Unfortunately the result doesn't look nice.

[2019-08-14 12:48] EvgenyK-SO commented on #48
BTH. You have nice icons for the model review buttons, I don't.
![image](https://user-images.githubusercontent.com/39136340/63022766-96143780-be71-11e9-94e5-bbc2ceca3c31.png)

Maybe because of Chrome?

[2019-08-14 12:51] EvgenyK-SO commented on #48
I borrowed the "Explode" icon from AutoCAD.
![image](https://user-images.githubusercontent.com/39136340/63022345-b1cb0e00-be70-11e9-8da1-2967bc931210.png)
Don't you want to use it?

[2019-08-14 13:05] michaldengusiak commented on #46
@EK-CEL I got your point and this is correct... this is reason  why we edit models and add missing and ask always Architect to put rooms for all spaces. This automation will be very complicated as to get it 100% correct gbXML we will require to add missing space/zone and close from top and bottom.  How do we recognize what is shaft... I guess the most complicated here is geometrical modification b

[2019-08-14 13:10] michaldengusiak commented on #48
@EK-CEL  I also use Chrome and looks fine, interesting...
you can `explode `and then `reset `and works fine

![image](https://user-images.githubusercontent.com/26113670/63023494-2451e300-be9d-11e9-92c2-a84bb8c8ddb5.png)

![image](https://user-images.githubusercontent.com/26113670/63023395-f5d40800-be9c-11e9-9355-47d19fa56321.png)

![image](https://user-images.githubusercontent.com/26113670/6302349

[2019-08-14 13:36] EvgenyK-SO commented on #48
Thank you. I know that. That's why I marked the issue as minor. ;-)

[2019-08-14 14:30] EvgenyK-SO commented on #46
Unfortunately for a real project we always have "holes".
![image](https://user-images.githubusercontent.com/39136340/63028712-5bb09780-be7d-11e9-967e-0372ba0bf02c.png)

We can place spaces for the "green" shafts, they are relatively large. And again, we cannot guarantee that input. But there are tons of "red" tiny holes with area up to 1 square meter, or a piping chase, which nobody is going to ca

[2019-08-20 18:20] EvgenyK-SO opened #49 "Fix absent materials"
Revit has its own considerations what information put into the exported gbXML file. And quite often it misses surface materials. The main reason for that is that Revit required to have thermal properties for materials. If they are not defined then the material doesn't appear in the generated gbXML file. We can push architect for thermal properties input, but there is no guarantee they follow our r

[2019-08-20 18:52] EvgenyK-SO commented on #48
Good enough to be closed.

[2019-08-20 18:52] #48 closed, assigned to nobody

[2019-08-21 07:31] theo-armour commented on #49
@EK-CEL

Agreed. This is a big issue.

If nothing else, lack of construction material information prevents most gbXML files from being accepted by OpenStudio prior to the creation of a report. This is a high-priority new feature.

I plan to start adding construction data after having added some of the 3D fixers - perhaps starting by next week.

What will be need is a good set of default materials

[2019-08-21 09:22] mostaphaRoudsari commented on #49
@chriswmackey has a default construction library that should be helpful here.

[2019-08-21 12:48] EvgenyK-SO commented on #49
Revit has XML file with default constructions.
[Constructions.zip](https://github.com/ladybug-tools/spider-gbxml-tools/files/3525366/Constructions.zip)

[2019-08-21 13:38] EvgenyK-SO commented on #49
Revit suggests the following default values:
Metric:
![image](https://user-images.githubusercontent.com/39136340/63436317-7a230f80-c3f6-11e9-80ef-f2541b3048fc.png)

Imperial:
![image](https://user-images.githubusercontent.com/39136340/63436758-41376a80-c3f7-11e9-90de-46fbf97a66ac.png)

@theo-armour
You are right the default values depend of the project location.

[2019-08-24 00:06] theo-armour commented on #49
@EK-CEL @michaldengusiak

See also #35

I should have a bit of a demo going next week. It will be a basic routine that does a search and replace to the gbXML file. I will keep adding sufficient to the file until it can be used to generate an OpenStudio report without error. Once we have a dummy file working we can add country by country versions.

I will start by using this file to add the constru

[2019-08-27 08:01] theo-armour commented on #49
@EK-CEL @michaldengusiak

Bookmark this link:
## https://www.ladybug.tools/spider-gbxml-fixer/

Two fairly complex files seem to be making the trip to OpenStudio

* [berlin-office-1-1k-surfaces.zip]( https://www.ladybug.tools/spider-gbxml-fixer/v-0-05-0/spider-gbxml-fixer-dev.html#https://cdn.jsdelivr.net/gh/ladybug-tools/spider@master/gbxml-sample-files/zip/berlin-office-1-1k-surfaces.zip )
* [wi

[2019-08-27 08:21] michaldengusiak commented on #49
@theo-armour
something does not look right in xml, please have a look
![image](https://user-images.githubusercontent.com/26113670/63753907-e052db00-c8ab-11e9-89e6-a3e1421204dd.png)

[2019-08-27 08:51] theo-armour commented on #49
@michaldengusiak

Looks like a ZIP file to me

Try save to text

[2019-08-27 09:06] michaldengusiak commented on #49
in that case please change the extension on save..so it is .zip not .xml

[2019-08-27 09:24] theo-armour commented on #49
fixed

[2019-08-27 09:30] michaldengusiak commented on #49
@theo-armour  now better
but please review the first-line... I guess this might be causing the issue ... I see these warnings and can not see the building
![image](https://user-images.githubusercontent.com/26113670/63759323-311b0180-c8b5-11e9-94cd-696b0afcf7e0.png)

[2019-08-27 09:51] theo-armour commented on #49
@michaldengusiak

I get those errors as well. Probably an extra ">" somewhere.

And I am not looking at the building. I am currently just testing to see if the HTML report is created

And I have seen a number of successes

[2019-08-27 19:19] theo-armour commented on #49
@michaldengusiak

Spider gbXML Fixer 'Atrax' 0.05.01 should have fixed the errors issues. It looks like a utf-16 to ust-8 thing

[2019-08-28 19:46] theo-armour commented on #49
@chriswmackey

Mostapha reminded me:

But I can't seem to find the details. Can you help?

[2019-08-28 20:46] chriswmackey commented on #49
@theo-armour ,

Thanks for bringing me in the loop here and, yes, we recently finished putting together a default material and construction library for all common surface types and boundary conditions.  I think it will serve your purposes well here.  [Here are all of the materials and constructions in IDF format](https://github.com/ladybug-tools/honeybee-energy/blob/master/honeybee_energy/lib/idf/

[2019-08-29 06:46] michaldengusiak commented on #49
@theo-armour
ok tested again...

1. please adjust text
![image](https://user-images.githubusercontent.com/26113670/63916630-b7a81e00-ca30-11e9-8afb-b8d942a6d86c.png)
2. I imported this file into openstudio and still have the same warning on import
![image](https://user-images.githubusercontent.com/26113670/63916683-d27a9280-ca30-11e9-9537-ee3617555e91.png)
I believe this is related to same problem

[2019-08-29 07:58] theo-armour commented on #49
@michaldengusiak

Spider gbXML Fixer 'Atrax' v0.05.02 is up

https://www.ladybug.tools/spider-gbxml-fixer

Some fairly complex files seem to be making the trip to OpenStudio

* [berlin-office-1-1k-surfaces.zip]( https://www.ladybug.tools/spider-gbxml-fixer/v-0-05-0/spider-gbxml-fixer-dev.html#https://cdn.jsdelivr.net/gh/ladybug-tools/spider@master/gbxml-sample-files/zip/berlin-office-1-1k-surfaces

[2019-08-29 08:30] michaldengusiak commented on #49
@theo-armour  this is strange

1. thanks for the fix - done
![image](https://user-images.githubusercontent.com/26113670/63922431-98af8900-ca3c-11e9-887e-840011769a63.png)

2. however when I export file
I still see an issue with first-line... and does not import
![image](https://user-images.githubusercontent.com/26113670/63922453-a1a05a80-ca3c-11e9-8b12-52c3f9d35992.png)

i reviewd files:
gbXML fro

[2019-08-29 23:07] theo-armour commented on #49
@michaldengusiak

Spider gbXML Fixer 'Atrax' v0.05.3

If found, deletes mystery character at first position in file

Bertin_Office.xml - 12MB

![image](https://user-images.githubusercontent.com/547626/63983322-0c708680-ca7b-11e9-87a4-381cc0e77daa.png)

![image](https://user-images.githubusercontent.com/547626/63983095-0d54e880-ca7a-11e9-86e8-dd29df2408ea.png)

Can you verify that this solution wou

[2019-09-06 12:54] michaldengusiak commented on #49
@theo-armour
ok I run details test and could not get it to work... here is a simple example
current construction inserting fail...
attached file..

[code]

![image](https://user-images.githubusercontent.com/26113670/64429301-8f15c900-d0ad-11e9-9916-2b5e1a4022b8.png)

![image](https://user-images.githubusercontent.com/26113670/64429384-cdab8380-d0ad-11e9-808f-bc2dd10a8f2d.png)

[Building7.zip](http

[2019-10-15 08:07] michaldengusiak opened #50 "Spider gbXML Viewer 'Maevia' v0.17.04 - BiLT EUR 2019 list"
- [x] spaces are missing from view
![image](https://user-images.githubusercontent.com/26113670/66812173-4eba2e00-ef2a-11e9-9201-793954b6ad54.png)

- [x] add links between all toolkits so  we can swap between tools with one click both ways
![image](https://user-images.githubusercontent.com/26113670/66812251-714c4700-ef2a-11e9-95b1-1736b2e883b0.png)

- [x] Michalina to record a new video for the cur

[2019-10-15 23:34] theo-armour commented on #50
@michaldengusiak

- [x] view

![image](https://user-images.githubusercontent.com/547626/66877091-0d953e80-ef69-11e9-96cb-91aa3d849cc4.png)

## https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/dev/

[2019-10-16 06:26] michaldengusiak commented on #50
@theo-armour  this is great,
we just await @michalinadengusiak for the updated video,
I guess context will be larger task.
Are we able easily extract surface coordinates from context building in order to create shade?
I will explore if I can set up BHoM, Dynamo workflow to easily add context from Maps...

[2019-10-16 07:31] theo-armour commented on #50
@michaldengusiak

**Stable release**
Is v0.17.)5 OK to be labeled the stable release?

**Maps etc

We have maps, terrain, sun positions and adjacent building data for any any world latitude and longitude in Analemma 3D and gbXML data in the viewers. The next step is combining the code. It's not difficult, just quite time-consuming.

Is there anything of interest that BHoM could add?

[2019-10-16 07:38] michaldengusiak commented on #50
@theo-armour

1. yes, 100% we can move ver Dev 0.17.05-0 as a stable release,
2. if we have capability then no, I was just thinking about a workaround if we are unable to add shade surfaces into gbXML when saving. It is then great news

[2019-10-19 13:11] michaldengusiak commented on #50
@theo-armour

1. can you please adjust link
![image](https://user-images.githubusercontent.com/26113670/67145508-fcef0c00-f279-11e9-8331-d74fa8c4cb35.png)

![image](https://user-images.githubusercontent.com/26113670/67145530-332c8b80-f27a-11e9-995f-bc2a3a6c999b.png)

should be

`http://www.ladybug.tools/spider/gbxml-viewer` [link](http://www.ladybug.tools/spider/gbxml-viewer)

2. when file is open

[2019-10-19 17:03] michalinadengusiak commented on #50
@theo-armour @michaldengusiak
I completed my task of doing the video.
:)

[2019-10-19 20:43] theo-armour commented on #50
Aragog link : fixed

no Air on start

Thank you, Michalina

[2019-10-20 17:37] michaldengusiak commented on #50
ok this is great we close almost all and I will open context as a separate issue as this will be bigger task,

[2019-10-20 17:37] #50 closed, assigned to theo-armour, michaldengusiak, michalinadengusiak

[2019-10-20 17:39] michaldengusiak opened #51 "Spider gbXML Viewer 'Maevia' v0.17.05 - shade context"
prototype
add OpenMaps (or other sources) if possible content to gbXML as Shade  surface type to allow user have additional surfaces in file
https://www.openstreetmap.org/export#map=17/55.92989/-3.25679
https://twitter.com/data_shapes/status/1130103420071960576
https://rawgit.com/ladybug-tools/spider/master/analemma3d/index.html#r20/analemma3d.html#latitude:37.8024,longitude:-122.4058,zoom:16,offs

[2019-10-20 17:42] michaldengusiak commented on #49
template with the material are now added and works fine
we can start populating standard construction for different countries or climates

I am close to solving this... few more cases to test
https://discourse.ladybug.tools/t/construction-layers-gas-materials-gbxml-help-needed/7304

[2019-10-21 12:42] EvgenyK-SO commented on #49
Just curious - would it ever possible to change material R values with gbXML viewer?

[2019-10-22 22:10] theo-armour commented on #49
@EK-CEL

Of course.

Do you have a standard set of R values that could be applied?

And maybe now this feature is mostly working, you could start a new issue about this and: can we close this issue since it takes so long to get down to here?

[2019-10-22 22:13] theo-armour commented on #35
OK to close??

[2019-10-23 06:39] michaldengusiak commented on #49
Yes, idea is that we have now template to set up standard constructions, layers and materials. So you can generate you own document and apply standard data for your region, specific standard, project or favourite settings.
this can be chosen here and added to gbXML,
please share your values and source so we can expand the standard selection.
![image](https://user-images.githubusercontent.com/26113

[2019-10-23 06:39] #49 closed, assigned to theo-armour

[2019-10-23 06:41] michaldengusiak commented on #47
Spider gbXML Viewer 'Maevia' v0.17.05 release as stable version :)

### [Spider gbXML Viewer v0.17.05]( https://www.ladybug.tools/spider-gbxml-tools/spider-gbxml-viewer/ )

[2019-10-23 06:41] #47 closed, assigned to nobody

[2019-10-23 06:43] michaldengusiak commented on #43
this is now implemented in  Spider gbXML Viewer 'Maevia' 0.17.05-0
![image](https://user-images.githubusercontent.com/26113670/67365073-cdd1e680-f568-11e9-857f-b5a26f4fe26b.png)

[2019-10-23 06:43] #43 closed, assigned to nobody

[2019-10-23 06:46] michaldengusiak commented on #35
yes we have this now included in  Spider gbXML Viewer 'Maevia' 0.17.05-0

![image](https://user-images.githubusercontent.com/26113670/67365244-2a350600-f569-11e9-9c18-a80b8a961114.png)

[2019-10-23 06:46] #35 closed, assigned to theo-armour

[2019-10-23 12:34] EvgenyK-SO opened #52 "Colorless icons"
On your screenshots I see the nice icons:
![image](https://user-images.githubusercontent.com/39136340/67392946-72572700-f56f-11e9-83b2-a262e235733a.png)

Unfortunately they don't appear on my computer. I tried several computers in our company. They all have the same picture:
![image](https://user-images.githubusercontent.com/39136340/67393029-9581d680-f56f-11e9-9aea-ec2f5a909f49.png)

It is not a

[2019-10-23 13:29] michaldengusiak commented on #52
@EK-CEL I had this before on my old laptop this was due to the graphic card. I have now a different one is solved.
@theo-armour Any suggestions if there is some workaround

[2019-10-23 13:35] EvgenyK-SO commented on #52
Seems the symbols are in the page source code:
![image](https://user-images.githubusercontent.com/39136340/67398202-4c825000-f578-11e9-8327-286237dd97d8.png)

[2019-10-23 13:36] michaldengusiak commented on #52
@EK-CEL
not on ours
![image](https://user-images.githubusercontent.com/26113670/67398412-85cfb580-f5a2-11e9-945f-e7823d45125a.png)

[2019-10-23 13:39] EvgenyK-SO commented on #52
How can it be?

[2019-10-23 13:41] EvgenyK-SO commented on #52
Do you use Apple device?

[2019-10-23 13:45] michaldengusiak commented on #52
No, I use Windows 10,
Processor Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz, 2592 Mhz, 6 Core(s), 12 Logical Processor(s)
NVIDIA Quadro P2000
Intel(R) UHD Graphics 630

@theo-armour  will explain this better this is due to Intel graphic card

[2019-10-23 13:54] EvgenyK-SO commented on #52
In our office we use Windows 7 systems. I believe it causes the problem as different systems use different icons.
![image](https://user-images.githubusercontent.com/39136340/67399580-763c7680-f57a-11e9-9e6a-424ffe977820.png)

I think icons (actually unicode character table) are installed on the computer. So Windows 7 has a different file. We need using unicode characters which work for Windows 7 a

[2019-10-23 14:25] EvgenyK-SO commented on #52
I found the following symbols:
☲  - for Surface types
💣  - for Exploded views

My icons look like this:
![image](https://user-images.githubusercontent.com/39136340/67403238-a1759480-f57f-11e9-8cbe-8e391f405b1d.png)

What if we would use them?

[2019-10-23 16:48] EvgenyK-SO commented on #52
One icon on the top toolbar is also not shown on my computer:
![image](https://user-images.githubusercontent.com/39136340/67415534-346bfa00-f593-11e9-805d-2479a72a2359.png)

Can we use the symbol 🔃 ?

[2019-10-23 16:53] EvgenyK-SO commented on #52
For the button "Show entire campus & display attributes" (for top and bottom toolbars) this symbol is used:
![image](https://user-images.githubusercontent.com/39136340/67415819-b1976f00-f593-11e9-86b1-e18c3164bd7d.png)
It rather suggests that we can search for something.

My proposition is to use just the "Home" button, which properly describes the action.
The 🏠 symbol is visible on my computer.

[2019-10-23 17:00] EvgenyK-SO commented on #52
Currently the "door" symbol 🚪 is used for button "Show openings". It rather suggests the "Exit" action.
What if we use the ⊞ symbol for the button?

[2020-02-06 18:48] EvgenyK-SO commented on #46
@theo-armour @mdengusiak
I don't see any activities for the project. It bothers me. Our designers still use Version 14. They need to change surface type and with the that version they pick surfaces one by one. It is so annoying. And it is so desirable that the Spider can help.
Frankly, I don't believe in a fully automatic fix. I think the tool can fix most of issues, but still a manual fix is requ

[2020-02-06 23:06] michaldengusiak commented on #46
I agree in fact I am still using R12, as a manual workaround is still needed on most projects... let's see what we can do with @theo-armour in new version

[2020-02-07 07:00] theo-armour commented on #46
@EK-CEL @michaldengusiak @mostaphaRoudsari @chriswmackey @AntoineDao

Evgeny and Michal: thank you for raising these issues.

I am glad you are happy with my 2017 and 2018 efforts.

Please may I go away now? ;-)

Did you ever consider improving your GitHub skill levels?

Since September 2019 I have been reporting Spider gbXML efforts here:

https://github.com/GreenBuildingXML/GreenBuildingXML.gith

[2020-02-07 13:43] EvgenyK-SO commented on #46
@theo-armour
I greatly appreciate your contribution into the Spider project. Looking at the list of the projects you participated in it would be wrong even to mention your laziness. ;-).
But I can say about my laziness ;-). I have a full time job and when I commute home I don't have any energy for learning the GitHub. I understand nearly nothing in programming and I am not sure that I can contribu

[2020-02-11 10:08] theo-armour commented on #52
@EK-CEL

Do you have an IT group that sets up your systems? If so, they may have limited your setup somehow?

The default icons in v0.17 show up on my W10 machine with latest Chrome, Edge and FF. Also on my Android phone and Chromebook. They are based on UTF-8. I find the icons using tools like these: https://unicode-table.com/en/sets/top-emoji/

[2020-02-11 10:18] theo-armour commented on #46
@EK-CEL

Thank you for your kind words. I know that both you and Michal have been my best supporters.

There is no requirement for you to learn GitHub. But what may be of interest is being able to spot activity and interesting things happening around Ladybug Tools. And that's what the links I sent are for.

Thank you. I have started drafting Spider objectives for 2020. First pass was here (at bott

[2020-02-11 13:15] EvgenyK-SO commented on #52
@theo-armour
I told our IT department about the problem. Apparently nice icons appear on W10 machines, but not on W7 ones. We spent an hour trying to install a correct Arial TTF font version on W7 machine. The latest Arial font version is 7, but W7 takes only version 5. We couldn't find a way to enforce W7 using Arial V7.

[2020-02-11 13:19] EK-CEL commented on #52
Probably there is now reason to fight the problem. In two years there will be no W7 machines in the our business.

[2020-02-11 14:02] EvgenyK-SO commented on #52
Probably there is now reason to fight the problem. In two years there will be no W7 machines in the  business where the Ladybug and Spider live.

@theo-armour @michaldengusiak
Above there are my propositions to replace some icons which would be more understandable.
If you think the changes are not reasonable please close the issue.

[2020-02-12 08:45] theo-armour commented on #52
@EK-CEL

It would be very easy for someone who knows a bit of JavaScript and a bit of GitHub to fork (copy) the program and change the icons (and many other aspects) to fit the needs of a specific set of users such as yourself.

Every line of code in the software I write is dedicated to the idea that students and professionals who know a lot about engineering and a little bit about programming sho

[2020-02-12 14:54] EvgenyK-SO commented on #52
Starting the issue I didn't mind that the problem is in Windows version. The W7 support is officially stopped, so the Spider can "officially" refuse to do any update for it. ;-)

[2020-02-12 14:54] #52 closed, assigned to theo-armour